/* Estilo para el contenedor de la lista de aplicaciones */
.coaching-applications {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
    text-align: center; /* Centra los elementos de la lista */
  }
  
  /* Estilo para los elementos de la lista */
  .coaching-applications li {
    font-size: 1.4rem;
    font-weight: bold;
    color: #004d73;
    margin: 10px 0;
    display: inline-block; /* Alinea los elementos horizontalmente */
    padding: 5px 10px;
  }
  
  /* Estilo para los iconos de las listas */
  .coaching-applications li::before {
    content: "✅"; /* Asegura que los íconos de los puntos se muestren */
    margin-right: 10px; /* Espacio entre el icono y el texto */
    color: #006d94;
    font-size: 1.6rem;
  }
  