/* ========================= */
/*  Clase Global para Contenedores de Secciones */
/* ========================= */
.section-container {
    max-width: 1600px;
    margin: 40px auto;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilo para h2 */
.section-container h2 {
    font-size: 2.8rem;  /* Aumento de tamaño */
    color: #004d73;
    margin-bottom: 30px;  /* Más espacio debajo */
    font-weight: 700;  /* Hacerlo más destacado */
    text-transform: uppercase;  /* Poner en mayúsculas */
    padding-bottom: 10px;
    border-bottom: 2px solid #006d94;  /* Añadir una línea debajo */
}

/* Estilo para h3 */
.section-container h3 {
    font-size: 2.2rem;  /* Aumento de tamaño */
    color: #006d94;
    margin: 25px 0;  /* Más espacio alrededor */
    font-weight: 600;
    text-transform: capitalize;  /* Primeras letras en mayúsculas */
    padding-bottom: 8px;
}

.section-container p {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.8;
    text-align: justify;
}

.section-container ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.section-container ul li {
    font-size: 1.4rem;
    margin: 10px 0;
    padding-left: 20px;
    text-align: left;
    position: relative;
}

/* Imagen dentro del contenedor */
.image-container {
    margin: 20px auto;
    text-align: center;
}


.image-container img {
    max-width: 90%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* ========================= */
/*  Estilos para el contenedor de precios */
.price-container {
    display: flex;
    justify-content: space-evenly; /* Para distribuir las tarjetas equitativamente */
    gap: 20px; /* Espaciado entre las tarjetas */
    flex-wrap: wrap; /* Si hay más tarjetas, se ajustan en nuevas filas */
    width: 100%;
  }
  
  /* ========================= */
  /*  Estilo para cada tarjeta de precio */
  .price-card {
    text-align: center; /* Centra el contenido dentro de la tarjeta */
    padding: 20px;
    background-color: #f4f7f9;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 30%; /* Hace que las tarjetas ocupen el 30% del ancho disponible */
    min-width: 250px; /* Ajusta un tamaño mínimo para las tarjetas */
    max-width: 350px; /* Limita el tamaño máximo para evitar que se expandan demasiado */
    margin-bottom: 20px; /* Añade un margen en la parte inferior */
  }
  
  .price-card h4 {
    font-size: 1.1rem; /* Reducir tamaño del título */
    color: #004d73; /* Color de los títulos */
    margin-bottom: 10px;
  }
  
  .price-card p {
    font-size: 1.6rem;
    font-weight: bold;
    color: #006d94; /* Color del precio */
    margin-top: 10px;
    text-align: center; /* Asegura que el precio se centre dentro de la tarjeta */
  }
  
  