.contacto {
  padding: 50px;
  text-align: center;
  background-color: white;
}

.contacto h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contacto form {
  max-width: 500px;
  margin: auto;
}

.contacto input,
.contacto textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contacto button {
  background-color: #004d73;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contacto button:hover {
  background-color: #00334e;
}
