@import '../global/SeccionContainer.css';

/* Estilos específicos de la sección "¿Qué es el Eneagrama?" */
.image-container {
    margin: 30px auto;
    text-align: center;
}

.image-container img {
    max-width: 95%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.03);
}
